<app-balance [transactions]="transactions()" />

<div class="actions">
    <a matButton="filled" routerLink="create">Adicionar transação</a>
</div>

<app-transactions-container [transactions]="transactions()" class="transactions-container">
    <ng-template #item let-item="item">
        <app-transaction-item 
            class="transaction" 
            [transaction]="item" 
            (edit)="edit($event)" 
            (remove)="remove($event)" />
    </ng-template>

    <ng-template #noItems>
        <app-no-transactions />
    </ng-template>
</app-transactions-container>