.w-100 {
    width: 100%;
}

.mb-24 {
    margin-bottom: 24px
}

.submit-container {
    display: flex;
    justify-content: flex-end;
}

.button-toggle-group.ng-invalid {
    border-color: var(--mat-sys-error);

    .mat-button-toggle-appearance-standard {
        color: var(--mat-sys-error);
    }
}